
.main-body {
  padding: 15rem 15rem 1rem 15rem;
  overflow: hidden;
}
.mentorsCategories {
  display: flex;
  /* justify-content: space-around; */
}
.mentorsCategories a {
  height: 40px;
  padding: 1rem 3.5rem;
  margin: 0 1rem;
  background-color: #420a68;
  color: #ffc527;
  border: none;
  border-radius: 10px;
}
.mentorsCategories a:hover {
  background-color: #7211b3;
  text-decoration: none;
  transition: 0.3s;
}
.sub-body {
  padding: 0 3rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 40px;
  padding: 30px;
  margin: 0 0 0 50px;
}
.card {
  text-align: center;
}
.card-body a,
.card h4 {
  color: #652e89;
}
.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.card-body a:hover {
  color: #ffc527;
  text-decoration: none;
  transition: 0.3s;
}

.arrow {
  text-align: center;
}
.arrow a {
  background-color: whitesmoke;
  color: black;
  border-radius: 50px;
  font-size: 16px;
  margin: 50px;
  padding: 10px;
}

.arrow a:hover {
  background-color: #420a68;
  color: #ffc527;
}
.jumbotron {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #8f32ce;
  color: white;
}
.partners button {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  color: #652e89;
  background-color: #ffc527;
  padding: 10px;
}

.partners button:hover {
  transition: 0.1s;
  background-color: #420a68;
  color: #ffc527;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 5px 0;
}

.links img {
  height: 50px;
  object-fit: cover;
  width: auto;
}
@media only screen and (max-width: 1033px) {
  .main-body {
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .main-body {
    padding: 15rem 6rem 1px 6rem;
  }
}
@media only screen and (max-width: 722px) {
  .main-body {
    padding: 15rem 2rem 1px 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    margin: 0;
  }
}
@media only screen and (max-width: 600px) {
  .main-body {
    padding: 15rem 1rem 1rem 1rem !important;
  }

  .sub-body {
    padding: 0 !important;
  }

  .grid-container {
    grid-template-columns: 100%;
    margin: 0;
  }
  .mentorsCategories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
}