section {
    padding-top: 16rem;
    padding-bottom: 8rem;
}

h1 {
    padding-bottom: 3rem;
    color: #652e89;
}

.fqa {
    display: flex;
    flex-wrap: wrap;
}

.fqa1 {
    flex-basis: 50%;
    padding-right: 3rem;
}

.fqa2 {
    flex-basis: 50%;
    padding-left: 3rem;
}

.nbtn {
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    .fqa {
        flex-direction: column;
    }

    .fqa1 {
        padding-right: 0;
    }

    .fqa2 {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1203px) {
    h1 {
        font-size: 3rem;
    }

    .fqa {
        flex-direction: column;
    }

    .fqa1 {
        padding-right: 0;
    }

    .fqa2 {
        padding-left: 0;
    }
}